#user-letters
{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.letter
{
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    width: 70px;
    height: 70px;
    font-size: 58px;
    background-color: lightyellow;
}

#color
{
    grid-area: 2 / 2 / span 2 / span 2;
}

#flex-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}