#user-letters
{
    display: grid;
    border: 1px solid black;
    margin: 20% 44% 0px 44%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 20vh;
}

.letter
{
    border: 1px solid black;
}

#color
{
    grid-area: 2 / 2 / span 2 / span 2;
}

#user-letters #color
{
    background-color: blue;
}