html
{
    background-color: lightyellow;
    
}

#user-letters
{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: goldenrod;
}

.letter
{
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: lightyellow;
    margin: 3px;
}

#color
{
    grid-area: 2 / 2 / span 2 / span 2;
    border-radius: 10px;
    border: 3px solid black;
}

#flex-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#letterSelected
{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 50px;
    border-bottom: 3px solid red;
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 10px;
}

#hintSelected
{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 50px;
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: grey;
    margin-left: 10px;
}

#UI_Row
{
    display: flex;
    font-size: 40px;
}

#UI_level, #UI_stars
{
    margin: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: lightyellow;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: goldenrod;
    color: white;
    text-align: center;
  }
  
  .modal-body 
  {
    padding: 2px 16px;
    text-align: center;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: goldenrod;
    color: white;
    text-align: center;
  }